{% extends "front/index.html" %}

{% macro input(field) -%}
  <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>{{field.label.text}}</label>
          {{field(class_="form-control", placeholder=field.label.text)}}
          {% if field.errors %}
          <p class="help-block text-danger"><ul role="alert"><li>{{field.errors.0}}</li></ul></p>
          {% endif %}
        </div>
      </div>
{%- endmacro %}

{% block content %}

<form method="POST">
  {{input(form.username)}}
  {{input(form.password)}}
  {{form.recaptcha}}
  <br>
    <div id="success"></div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
    </div>
  </form>

{%endblock %}